{% extends 'base.html' %}
{% block content %}
<h1 class="mt-2 text-center h1"> {{current_question_number}}) Помножити {{first_number}} на {{second_number}}</h1>
<div class="container">
    <div class="row pt-3">
        <div class="col text-center">
            <form action="." method="post" class="form_button">
                {% csrf_token %}
                <input type="submit" name="choice" value={{first_question}} />
                <input type="hidden" name="result" value={{multiplication_result}} />
            </form>
            <form action="." method="post" class="form_button">
                {% csrf_token %}
                <input type="submit" name="choice" value={{second_question}} />
                <input type="hidden" name="result" value={{multiplication_result}} />
            </form>
            <form action="." method="post" class="form_button">
                {% csrf_token %}
                <input type="submit" name="choice" value={{third_question}} />
                <input type="hidden" name="result" value={{multiplication_result}} />
            </form>
            <form action="." method="post" class="form_button">
                {% csrf_token %}
                <input type="submit" name="choice" value={{fourth_question}} />
                <input type="hidden" name="result" value={{multiplication_result}} />
            </form>
        </div>
    </div>
</div>
</body>
{% endblock %}